$white: white;
$black: #000;
$red: #dc2626;
$green: #10b981;
$gray: #f3f4f6;
$gray10: #9ca3af;
$gray60: #4b5563;
$gray70: #374151;
$gray80: #1f2937;
$gray90: #111827;
$shadow-small: 0px 2px 6px rgba(0, 0, 0, 0.08);
